<!DOCTYPE html>
<html>
    <body>
        <ul>
            <li id="ram">
                ツイート
            </li>
            <li id="ram">
                ツイートと返信
            </li>
            <li id="ram">
                メディア
            </li>
            <li id="ram">
                いいね
            </li>
        </ul>
    </body>
</html>