<!DOCTYPE html>
<html>
    <body>
        <ul>
            <li id="rem">
                🏠ホーム
            </li>
            <li id="rem">
                #話題を検索
            </li>
            <li id="rem">
                🔔通知
            </li>
            <li id="rem">
                ✉メッセージ
            </li>
            <li id="rem">
                📑ブックマーク
            </li>
            <li id="rem">
                📃リスト
            </li>
            <li id="rem">
                👤プロフィール
            </li>
            <li id="rem">
                もっと見る
            </li>
            <li id="rem_tweet">
                <%= link_to "ツイートする", '/tweets/new' %>
            </li>
        </ul>
    </body>
</html>